<html>
	<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Day-Day</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/timeline.css" rel="stylesheet">
    <link href="/css/cover.css" rel="stylesheet">
    <link href="/css/forms.css" rel="stylesheet">
    <link href="/css/buttons.css" rel="stylesheet">
    <link href="/css/user_detail.css" rel="stylesheet">
    <link href="/css/profile4.css" rel="stylesheet">
    <link href="/css/friends.css" rel="stylesheet">
    <link href="/css/photos1.css" rel="stylesheet">
    <script src="/js/jquery.1.11.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
		
		<script src="https://use.fontawesome.com/b141d1971d.js"></script>
  <script src="/js/edit.js"></script>
 
		  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	
	
	</head>
	<body>
		
		
		<nav class="navbar navbar-white navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><b>DayDay</b></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="actives"><a href="profile.html">Profile</a></li>
            <li><a href="home.html">Home</a></li>
      
          </ul>
        </div>
      </div>
    </nav>
		
		<div class="head">
    <h1>GIVINGEST</h1>
</div>
<div class="container">
    <div class="row">
        <div class="board">
            <ul class="nav nav-tabs">
                <div class="liner"></div>
                <li rel-index="0" class="active">
                    <a href="#step-1" class="btn" aria-controls="step-1" role="tab" data-toggle="tab">
                        <span><i class="glyphicon glyphicon-user"></i></span>
                    </a>
                </li>
                <li rel-index="1">
                    <a href="#step-2" class="btn disabled" aria-controls="step-2" role="tab" data-toggle="tab">
                        <span><i class="glyphicon glyphicon-heart"></i></span>
                    </a>
                </li>
                <li rel-index="2">
                    <a href="#step-3" class="btn disabled" aria-controls="step-3" role="tab" data-toggle="tab">
                        <span><i class="glyphicon glyphicon-plus"></i></span>
                    </a>
                </li>
                <li rel-index="3">
                    <a href="#step-4" class="btn disabled" aria-controls="step-4" role="tab" data-toggle="tab">
                        <span><i class="glyphicon glyphicon-ok"></i></span>
                    </a>
                </li>
            </ul>
        </div>
        <form method="post" action="/editProfile">
        <div class="tab-content">
             
            <div role="tabpanel" class="tab-pane active" id="step-1">
               
                <div class="col-md-12">
                    <h3>Business Info</h3>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input  maxlength="100" type="text" required="required" class="form-control" name="fullname" id="fullname" value="<%= user.fullname %>"  />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Phone Number</label>
                            <input  maxlength="10" type="text" required="required" class="form-control" name="phone" id="phone" value="<%= user.phone %>"  />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >
                               Gender</label>
                            <select id="gender" name="gender" class="form-control" required="required">
                              
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                               
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Website (option)</label>
                            <input maxlength="100" type="text" name="url" id="url" class="form-control" value="<%= user.url %>" />
                        </div>
                    </div> 
                    <h3>Business Location</h3>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Street Adress</label>
                            <input  maxlength="100" type="text" required="required" class="form-control" name="address" id="address" value="<%= user.address %>" />
                        </div>
                    </div>
                      <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">city</label>
                            <input  maxlength="100" type="text" required="required" class="form-control" name="city" id="city" value="<%= user.city %>" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">BirthDay</label>
                            <input type="date" class="form-control" id="birthday" name="birthday" value="<%= user.birthday %>">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Job</label>
                            <input   type="text" required="required" class="form-control" name="job" id="job" value="<%= user.job %>" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">School/University</label>
                            <input   type="text" required="required" class="form-control"  name="school" id="school" value="<%= user.school %>"/>
                        </div>
                    </div>
                    
                       <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Education Status</label>
                            <input  type="text" required="required" class="form-control"  name="education" id="education" value="<%= user.education %>" placeholder="Whats your education now "/>
                        </div>
                    </div>
                    <h3>Business Contact</h3>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">UserName</label>
                            <input  maxlength="14" type="text" required="required" name="username" id="username" class="form-control" value="<%= user.username %>" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input  maxlength="100" type="text" required="required" class="form-control" name="email" id="email" value="<%= user.email %>"  />
                        </div>
                    </div>
                
                    <button id="step-1-next" type="button" class= "btn btn-lg btn-primary nextBtn pull-right">Next</button>
                </div>
            
            </div>
                           <div role="tabpanel" class="tab-pane" id="step-2">
                <div class="col-md-12">
                    <label>Mantra</label>
                      <textarea class="form-control input-lg p-text-area" name="mantra" id="mantra" rows="2" placeholder="Whats you short sentence ?"></textarea>
                    
                    <label>About me</label>
                      <textarea class="form-control input-lg p-text-area" name="aboutme" id="aboutme" rows="2" placeholder="About u"></textarea>
                    
                    <button id="step-2-next" type="button" class="btn btn-lg btn-primary nextBtn pull-right">Next</button>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="step-3">
                <div class="col-md-12">
                         <div class="col-md-6">
                        <div class="form-group">
                            <label >
                               Friend visible Privacy</label>
                            <select id="friendP" name="friendP" class="form-control" required="required">
                              
                                <option value="me">Me</option>
                                <option value="friends">Friends Only</option>
                                  <option value="everyone">EveryOne</option>
                               
                            </select>
                        </div>
                    </div>
                         <div class="col-md-6">
                        <div class="form-group">
                            <label >
                               Post Privacy</label>
                            <select id="postP" name="postP" class="form-control" required="required">
                              
                                <option value="me">Me</option>
                                <option value="friends">Friends Only</option>
                                  <option value="everyone">EveryOne</option>
                               
                            </select>
                        </div>
                    </div>
                        <div class="col-md-6">
                        <div class="form-group">
                            <label >
                               Images Privacy</label>
                            <select id="imageP" name="imageP" class="form-control" required="required">
                              
                                <option value="me">Me</option>
                                <option value="friends">Friends Only</option>
                                  <option value="everyone">EveryOne</option>
                               
                            </select>
                        </div>
                              <div class="form-group">
                            <label >
                               About Privacy</label>
                            <select id="aboutP" name="aboutP" class="form-control" required="required">
                              
                                <option value="me">Me</option>
                                <option value="friends">Friends Only</option>
                                  <option value="everyone">EveryOne</option>
                               
                            </select>
                        </div>
                    </div>
                    <button id="submit" type="submit" class="btn btn-lg btn-primary nextBtn pull-right">Next</button>
                </div>
            </div>
               
        
        </div>
                </form>
    </div>
</div>
		 <script src="/js/edit.js"></script>
	</body>
	</html>