<html>
   <head>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
      <link href="css/request.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   </head>
   <body>
      <div class="container" id="reload">
         <% for(var i  =0 ; i <data.request.length;i++) { %>
         <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <input type="hidden" id="sender" name="sender" value="<%= data.request[i].username %>">
            <input type="hidden" id="senderId" name ="senderId"value="<%= data.request[i].userId %>">
            <input type="hidden" id="image" name ="image"value="<%= data.request[i].image %>">
            <div class="card">
               <img class="card-img-top" src="/product_images/<<%= data.request[i].userId %>/<%= data.request[i].image %>">
               <div class="card-block">
                  <h4 class="card-title mt-3"><%= data.request[i].username %></h4>
                  <div class="meta">
                     <h5>India, 22 ans</h5>
                  </div>
               </div>
               <div class="card-footer">
                  <div class="icon pull-left">
                     <button type=submit name="accept" id="accept">accept</button>
                  </div>
                  <div class="icon pull-right">
                     <input type="hidden" id="user_Id" name="user_Id" value="<%= data.request[i].userId %>">
                     <button type=submit  name="reject" id="reject">reject</button>
                  </div>
               </div>
            </div>
         </div>
         <% } %>
      </div>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="/js/ar_request.js"></script>
   </body>
</html>